<div id="entity-index">
  <div id="total-amount">
    <h2>Total amount: $<%= @entities.sum(:amount) %></h2>
  </div>
  <div id="entities">
    <div id="category-info">
      <%= image_tag url_for(@group.icon), alt: "category icon" %>
      <%= @group.name %>
    </div>
    <ul>
      <% @entities.each do |entity| %>
        <li>
          <h2>
            <%= entity.name %>
          </h2>
          <h3>
            amount: $<%= entity.amount %>
          </h3>
          <h3>
            <%= image_tag('calendar.png') %> <%= entity.created_at %>
          </h3>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to({ controller: 'entities', action: 'new' }) do %>
    <button>Add new transaction</button>
  <% end %>
</div>
